*{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    width: 100%;
    background-color:rgba(38,42,54,1);
    position: fixed;
    top:0;
    font-weight:bold;
    display: inline;
    color: rgba(255,255,255,1);
    border-top:5px solid rgba(232,125,34,1);
    border-bottom: 5px solid rgba(246,203,44,1);
    
}

.navbar h1{
    float:left;
    padding:5px;
    font-size:25px;
    
}

.navbar a{
    text-decoration: none;
    color:inherit;
    float:right;
    padding:5px;
    font-size:25px;
}

body{
    background-color: rgba(38,42,54,1);

}

main{
    display:block;
    text-align: center;
}

.openingLine{
    margin-top: 75px;
    margin-bottom:50px; 
    color:white;
    font-size:30px;
}

#welcomeImg{
    height: 200px;
    width: 450px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 25px;
    border-top: 5px solid rgba(232,125,34,1);
    border-bottom: 5px solid rgba(232,125,34,1);
    border-left: 5px solid rgba(246,203,44,1);
    border-right: 5px solid rgba(246,203,44,1);
}

#contactInfo{
    color:rgba(255,255,255,1);
    font-size: 25px;
    width: 25%;
    margin-left:auto;
    margin-right:auto;
    border-radius:25px;
    padding:10px;
    border-top: 5px solid rgba(246,203,44,1);
    border-bottom: 5px solid rgba(246,203,44,1);
    border-left: 5px solid rgba(232,125,34,1);
    border-right: 5px solid rgba(232,125,34,1);

}

#contactInfo ul{
    margin-top:20px;
    text-align:center;

}


#contactInfo label{
    font-size: 15px;
    display:inline-block;
    text-align:center;
}

#contactInfo button{
    margin-top:15px;
    font-size:20px;
    width:90px;
    height: 27fpx;
}

footer{
    margin-top: 150px;
    color:rgba(255,255,255,1);
}
