*{
    font-family:Arial, Helvetica, sans-serif
}

.navbar{
    width: 100%;
    background-color:rgba(168,74,31,1);
    position: fixed;
    top:0;
    font-weight:bold;
    display: inline;
    color: rgba(195,213,252,1)
}

.navbar h1{
    float:left;
    margin-left:25px;
    font-size:35px;
    
}

.navbar li{
    float:right;
    font-size:35px;
}

.navbar a{
    padding:25px;
    text-decoration: none;
    color:inherit;
}
body{
    background-color: rgba(23,9,41,1);

}

.welcomeImg{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width:50%; 
    height: 550px;
    width: 1000px;
}